NODE_ENV=local
PARACHAIN_ENDPOINT=ws://127.0.0.1:9944
ENCLAVE_ENDPOINT=ws://127.0.0.1:2000


TWITTER_AUTH_TOKEN_V2=''
DISCORD_AUTH_TOKEN=''
ACHAINABLE_AUTH_KEY=''
ONEBLOCK_NOTION_KEY=''
NODEREAL_API_KEY=''
GENIIDATA_API_KEY=''
MORALIS_API_KEY=''
MAGIC_CRAFT_API_KEY=''